.delete-box{
    background-color: white;
    font-size: 40px;
    text-align: center;
    height: 230px;
    width: 580px;
    margin-top: 35px;
    left :100px;
    border :5px solid #eac43d;
    border-radius: 80px;
    margin-left: 235px;
    margin-bottom: 200px;
    
}

.delete-box span{
    color: black;
}

.bin-photo{
    height: 150px;
    display:block;
    margin: 10px auto; 
}